<!DOCTYPE HTML>
<html>
	<head>
		<title>Roguelike</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #191818;
				
			}
			canvas {
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		</style>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	</head>
	<body>
		{# 
		{% assets "libs" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
		#}

		<script src="static/js/lib/jquery.min.js"></script>
		<script src="static/js/lib/pixi.js"></script>
		<script src="static/js/lib/howler.min.js"></script>
		<script src="static/js/lib/underscore.min.js"></script>
		<script src="static/js/lib/rot.min.js"></script>
		{% assets "utils" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "objects" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "characters" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "controls" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "globals" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "map" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
		{% assets "game" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

	</body>
</html>

